<!DOCTYPE html>
<!--需要在HTML文件中加入以下语句：-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show User</title>
</head>
<body>
<table>
    姓名：<span th:text="${user.userName}"></span>
    <br />
    年龄：<span th:text="${user.age}"></span>

    <!--user:表示后端传来的userList集合在前端的名称-->
    <ul th:each="user : ${userList}">
        <li th:text="${user.userName}"></li>
        <li th:text="${user.age}"></li>
    </ul>
    <span th:if="${user.age > 17}">已经成年</span>
    <span th:if="${user.age < 17}">未成年</span>
</table>
</body>
</html>